body {
    background: linear-gradient(135deg, #f5f7fa, #a5b4cd);
}

.navbar {
    animation: slideDown 0.8s ease-out;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button.btn {
    transition: all 0.3s ease;
}

button.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

h3 {
    animation: fadeText 1.2s ease;
}

.login-register-card {
    width: 50%;
    border-radius: 12px;
    animation: fadeUp 1s ease-out;

}

@media (max-width: 768px) {
    .login-register-card {
        width: 100%;
    }
}


@keyframes fadeText {
    from {
        opacity: 0;
        letter-spacing: 4px;
    }

    to {
        opacity: 1;
        letter-spacing: normal;
    }
}